<div class="admin-topnav">
  <ul>
    <li><%= link_to 'Admin', admin_path, :active => :exclusive %> </li>
    <li><%= link_to 'Add Product', new_admin_product_path, :active => :exclusive %> </li>
    <li><%= link_to 'Categories', admin_categories_path, :active => :exclusive %> </li>
    <li><%= link_to 'Users', admin_path, :active => :exclusive %> </li>
  </ul>
</div>